:root {
  --primary-color: #0f52ba;
  --secondary-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  margin: 0;
  min-height: 100vh;
  font-family: Montserrat;
  color: #000000;
}

button {
  font-family: inherit;
}
